@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  color: #1d232f;
  background: #eaf4ff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-weight: 300;
  line-height: 1.5em;
}

li {
  list-style: none;
  padding: 10px;
}

ul.skills li {
  display: inline-block;
  margin-right: 1rem;
}

button.btn-loot {
  display: block;
  width: 250px;
  height: 80px;
  background: #f44336;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  margin: 20px auto;
}

button.btn-loot:hover {
  opacity: .8;
}

main {
  padding: 2rem 4rem;
}

@media (max-width: 600px) {
  main {
    padding: 2rem;
  }
}

*::selection {
  background: #c3f0ff;
  color: #494949;
}

/* Dark Mode */

.dark-mode {
  --bg: #1d232f;
  --text: #eaf4ff;
  --accent: #c3f0ff;
  --content: #f6f8fa;
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
  body,
  .dark-mode {
    background: var(--bg);
    color: var(--text);
  }
  /* Dark Mode */
  .dark-mode {
    --accent: #494949;
    --content: #373e48;
  }
  button.btn-loot,
  button.btn-loot:hover {
    background: var(--accent);
  }
}
